
/* Header ------------------------------------------------------------------------------*/

header{
   background-color: rgb(0, 102, 205);
   height: auto;
   width: 100%;
}

.title{
   margin-top: 26px;
}

.header-container{
   width: 100%;
   height: 80px;
   display: flex;
}

.container{
   width: 1200px;
   -ms-flex-item-align: center;
   align-self: center;
   margin: 0px auto;
   padding: 0 auto;
}

.title-container{
   width: 300px;
   height: 100%;
   text-align: center;
   display: inline-block;
   vertical-align: middle;
}

.nav-container{
   width: 100%;
   text-align: end;
}

.nav-link{
   color: white;
}

.banner{
   background-image: url("images/desk.jpg");
   height: 400px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
}

body{
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
}

ul{
   margin-top: 26px;
   margin-right: 26px;
}

nav > ul > li{
   display: inline;
   margin-right: 20px;
}

/* Services ------------------------------------------------------------------------------*/

.services-container{
   width: 100%;
   padding-top: 100px;
}

.col-3{
   width: 33.086%;
   height: 470px;
   display: inline-block;
   padding: 0;
   margin: 0;
   text-align: center;
}

.service-image{
   width: 350px;
}

.service-description{
   text-align: justify;
   margin: 0 30px;
}

.services-title{
   text-align: center;
   color: rgb(0, 102, 205);
}

.service-link{
   font-size: 14px;
   color:  rgb(0, 102, 205);
}

/* News ------------------------------------------------------------------------------*/

.news-container{
   width: 100%;
   padding-top: 100px;
}

.news-title{
   text-align: center;
   color: rgb(0, 102, 205);
}

.col-2{
   width: 49.8%;
   height: 220px;
   display: inline-flex;
   padding: 0;
   margin: 0 0 20px 0;
   text-align: center;
}

.new-image{
   height: 100%;
   display: inline-block;
}

.new-text{
   text-align: left;
   display: inline;
   margin: 0 10px;
}

.new-link{
   font-size: 14px;
   color:  rgb(0, 102, 205);
}

/* Members ------------------------------------------------------------------------------*/

.members-container{
   /*
   width: 100%;*/
   padding-top: 100px;
   height: 500px;
   padding-bottom: 100px;
}


.members-title{
   text-align: center;
   color: rgb(0, 102, 205);
}


.col-5{
   width: 19%;
   height: 400px;
   display: inline-block;
   margin: 5px 4px 0;
   text-align: center;
}


.member-image{
   height: 40%;
   display: inline-block;
}

.member-text{
   text-align: center;
   display: inline;
   margin: 0 20px;
}

/* Footer ------------------------------------------------------------------------------*/

footer{
   background-color: rgb(0, 102, 205);
   height: auto;
   width: 100%;
}

.footer-container{
   width: 100%;
   height: auto;
   display: flex; 
}

.footer-text{
   color:  rgb(255, 255, 255);
   text-align: left;
   display: inline;   
   margin: 0 20px;
}

.footer-link{
   font-size: 14px;
   color:  rgb(255, 255, 255);
}

.colum-2{
   width: 49.8%;
   height: 110px;
   display: inline-flex;
   padding: 0;
   margin: 0 0 20px 0;
   text-align: center;
} 
