
/* Header ------------------------------------------------------------------------------*/

header{
   background-color: rgb(0, 102, 205);
   height: auto;
   width: 100%;
}

.title{
   margin-top: 26px;
}

.header-container{
   width: 100%;
   height: 80px;
   display: flex;
}

.container{
   width: 1200px;
   -ms-flex-item-align: center;
   align-self: center;
   margin: 0px auto;
   padding: 0 auto;
}

.title-container{
   width: 300px;
   height: 100%;
   text-align: center;
   display: inline-block;
   vertical-align: middle;
}

.nav-container{
   width: 100%;
   text-align: end;
}

.nav-link{
   color: white;
}

.banner{
   background-image: url("images/desk.jpg");
   height: 400px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
}

body{
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
}

ul{
   margin-top: 26px;
   margin-right: 26px;
}

nav > ul > li{
   display: inline;
   margin-right: 20px;
}

/* Services ------------------------------------------------------------------------------*/

.services-container{
   width: 100%;
   padding-top: 100px;
}

.col-3{
   width: 33.086%;
   height: 470px;
   display: inline-block;
   padding: 0;
   margin: 0;
   text-align: center;
}

.service-image{
   width: 350px;
}

.service-description{
   text-align: justify;
   margin: 0 30px;
}

.services-title{
   text-align: center;
   color: rgb(0, 102, 205);
}

.service-link{
   font-size: 14px;
   color:  rgb(0, 102, 205);
}